.job-details__header, .job-details__info {
    background: #fff;
    margin-bottom: 1rem;
    padding: 2rem;
}
.job-details__header {
    gap: 2rem;
}
.job-details__header .left {
    height: 8rem;

}

.job-details__location {
    color: #1976D2;
    font-weight: bold;
}

h1, h2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
p {
    margin: 1rem 0;
}
ul, ol {
    padding: 1rem;
}
li {
    padding-top: .5rem;
}
footer {
    background: #fff;
    padding: 2rem;
}