@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    background: #e8f1fc;
    font-family: 'Quicksand';
    color: #333333;
}

a {
    text-decoration: none;
    color: #333;
}
img {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.main-header {
    background: url("../assets/bg-pattern-header.svg");
    background-size: cover;
    background-position: center;
    height: 10rem;
    padding-top: 2rem;

}

.home-link , .login-link{
    color: #fff;

}
.home-link {
    font-size: 2rem;
}
.login-link {
    font-size: 1.5rem;
    font-weight: bold;

}

.main-header > div {
    justify-content: space-between;
    align-items: center;
}


.btn {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-family: 'Quicksand';
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgb(75 75 75 / 10%);
}

.btn-primary {
    background: #3498db;
    color: #fff;

}

.btn-secondary {
    background: aqua;
}

.shadow {
    box-shadow: 0px 5px 15px rgb(0 0 0 / 10%);
}




/* Dropdown Button */
.btn--dropbtn {
    /*background-color: #04AA6D;*/
    background: transparent;
    font-size: 1.3rem;
    color: #fff;
    padding: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e8f1fc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content  .dropdown__link{

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .2s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #6670E2;color: #fff}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}