
<form class="search-from">
    <input name="keyword" placeholder="Keyword ..." type="text">
    <input name="location" placeholder="Location ..." type="text">
    <button type="submit" class="btn btn-primary">Search</button>
</form>