{% extends('base.html.twig') %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/form.css') }}>
{% endblock %}

{% block body %}
    <main class="center">
        <div style="width: 80%" class="form">
            {{ form(form) }}
        </div>
    </main>
{% endblock %}